<section class="grid md:grid-cols-5">
    <div class="bg-brandLight h-full w-full md:col-span-2 flex flex-col gap-10 py-20 md:py-40 px-6 md:px-12 lg:px-28">
        <h3 class="text-brand is-h4">Contact</h3>
       <div class="flex flex-col">
            <p class="font-semibold text-lg">Harley Fry</p>
            <p class="font-semibold text-lg">Director</p>
       </div>
       <div class="flex flex-col gap-3">
            <a class="font-semibold flex items-center gap-3 duration-300 hover:gap-5 hover:text-brand" href="mailto:{{ options.email }}" target="_blank">{{ options.email }}{% include "icons/arrow-right-small.twig" %}</a>
       </div>
       <div class="flex flex-col gap-3">
            <div class="font-semibold flex items-center gap-3">{{ options.phone }}</div>
       </div>
       <div class="flex flex-col gap-3">
            <div class="font-semibold">{{ options.address }}</div>
       </div>
       <div class="flex flex-col gap-3">
          {% if options.instagram %}
               <a class="uppercase flex items-center gap-3 !text-sm" href="{{ options.instagram }}" target="_blank">{% include "icons/arrow-right-small.twig" %} Instagram</a>
          {% endif %}
          {% if options.facebook %}
               <a class="uppercase flex items-center gap-3 !text-sm" href="{{ options.facebook }}" target="_blank">{% include "icons/arrow-right-small.twig" %} Facebook</a>
          {% endif %}
          {% if options.linkedin %}
               <a class="uppercase flex items-center gap-3 !text-sm" href="{{ options.linkedin }}" target="_blank">{% include "icons/arrow-right-small.twig" %} Linkedin</a>
          {% endif %}
       </div>
    </div>
    <div class="md:col-span-3 h-full w-full flex flex-col items-center gap-6 md:gap-10 py-20 md:py-40 px-6 md:px-12 lg:px-28">
        <h3 class="text-brand text-center">{{ block.form_heading }}</h3>
        <p class="text-center">{{ block.form_subheading }}</p>
        {{ function('do_shortcode', '[gravityform id="1" title="false" description="false" ajax="true"]') }}
    </div>
</section>