<section class="container py-12 lg:py-36 2xl:py-48 flex justify-center">
    <div class="flex flex-col items-center gap-6 md:gap-10 text-center max-w-5xl 2xl:max-w-6xl w-full">
        {% if block.supertitle %}
            <h2 data-animate-down class="supertitle text-brandDark">{{ block.supertitle }}</h2>
        {% endif %}
        <div class="relative w-screen">
            <h3 data-animate-down class="line-left is-h2 text-brand w-fit mx-auto">
                {{ block.heading }}
            </h3>
        </div>
        {% if block.content %}
            <div data-animate-down class="text-bodyDark">{{ block.content }}</div>
        {% endif %}
        {% if block.button %}
            <a class="button" href="{{ block.button.url }}">{{ block.button.title }}{% include "icons/arrow-right.twig" %}</a>
        {% endif %}   
    </div>
</section>