{% if menu %}
	<button data-toggle-menu class="supertitle text-brand w-full flex items-center justify-start gap-3">MENU {{ include('templates/icons/hamburger.twig') }}</button>
	<ul data-menu class="bg-brandLight bg-opacity-95 flex flex-col gap-6 px-8 md:px-20 pt-4 pb-12 z-30 fixed top-0 right-0 w-full h-full max-w-3xl transform transition duration-700 ease opacity-0">
		<button data-toggle-menu><span class="supertitle border-b border-brand text-brand w-full flex items-center justify-start py-4 gap-3 ease duration-300">CLOSE {{ include('templates/icons/cross.twig') }}</span></button>
		<div class="mt-5 flex-grow flex flex-col justify-center">
			{% for item in items %}
				<div data-mobile-menu-item class="space-y-1">
					<div class="flex items-center justify-between">
						<a href="{{ item.url }}" class="text-2xl md:text-4xl mb-4 md:mb-6 uppercase text-brand font-semibold tracking-widest duration-300 hover:opacity-30">{{ item }}</a>
						{% if item.children %}
							<button data-toggle-mobile-sub-menu>{{ include('templates/icons/chevron.twig') }}</button>
						{% endif %}
					</div>
					{# {% if item.children %}
						<ul data-mobile-sub-menu class="space-y-1 hidden mt-6">
							{% for item in item.children %}
								<li>
									<a href="{{ item.url }}"
										class="group w-full flex items-center pl-6 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
										{{ item }}
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %} #}
				</div>
			{% endfor %}
		</div>
		<div class="flex items-center justify-between mt-auto uppercase font-light text-sm">
			<a class="tracking-[0.15em] text-brand flex items-center gap-2 pb-1" href="{{ options.instagram }}" target="_blank">{% include "icons/arrow-right-small.twig" with { class: "max-sm:hidden" } %} Instagram</a>
			<a class="tracking-[0.15em] text-brand flex items-center gap-2 pb-1" href="{{ options.facebook }}" target="_blank">{% include "icons/arrow-right-small.twig" with { class: "max-sm:hidden" } %} Facebook</a>
			<a class="tracking-[0.15em] text-brand flex items-center gap-2 pb-1" href="{{ options.linkedin }}" target="_blank">{% include "icons/arrow-right-small.twig" with { class: "max-sm:hidden" } %} Linkedin</a>
		</div>
	</ul>
{% endif %}
